<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensolution.ensol.repository.app.mybatis.ScheduleTableMapper">
    <select id="scheduledWorkplaceList" resultType="ScheduledWorkplaceTableDto">
        SELECT
            sw.scheduled_workplace_id,
            sw.measure_date,
            sw.measurement_purpose,
            w.workplace_id,
            w.workplace_name,
            w.address,
            t.team_id,
            t.team_name
        FROM scheduled_workplace sw
                 LEFT JOIN workplace w ON sw.workplace_id = w.workplace_id
                 LEFT JOIN team t ON sw.team_id = t.team_id;
    </select>

    <select id="scheduleStackList" parameterType="Integer" resultType="ScheduledStackTableDto">
        SELECT
            ss.scheduled_workplace_id,
            ms.scheduled_stack_id,
            GROUP_CONCAT(DISTINCT ms.stack_measurement_id) AS stack_measurement_ids,
            s.stack_id,
            s.stack_name,
            ss.status,
            ss.analysis_start_date,
            ss.analysis_end_date,
            GROUP_CONCAT(DISTINCT p.pollutant_name_kr) AS pollutant_names
        FROM measurement_schedule ms
                 LEFT JOIN scheduled_stack ss ON ms.scheduled_stack_id = ss.scheduled_stack_id
                 LEFT JOIN stack s ON ss.stack_id = s.stack_id
                 LEFT JOIN stack_measurement sm ON ms.stack_measurement_id = sm.stack_measurement_id
                 LEFT JOIN pollutant p ON sm.pollutant_id = p.pollutant_id
        WHERE scheduled_workplace_id = #{scheduledWorkplaceId}
        GROUP BY
            ss.scheduled_workplace_id,
            ms.scheduled_stack_id,
            s.stack_id,
            s.stack_name,
            ss.status,
            ss.analysis_start_date,
            ss.analysis_end_date;
    </select>
</mapper>